* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

input {
  outline: none;
}

div {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

.container {
  width: 1257px;
  margin: 0 auto;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.section-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}

.page-title {
  text-align: center;
  color: #ff6d00;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 60px;
}

.button {
  font-size: 18px;
  padding: 13px 40px;
  border-radius: 30px;
  color: #ffffff;
  background-color: #ff6c00;
  cursor: pointer;
  border: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-text {
  margin-left: 30px;
  font-weight: 700;
  font-size: 25px;
}
.nav-text span {
  color: #ff6d00;
}
.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
.nav-social {
  margin-right: 20px;
}
.nav-social:last-child {
  margin-right: 0;
}
.nav-social svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  fill: #ebebeb;
}
.nav-link:hover svg {
  fill: #ff6d00;
}
.nav-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-partner {
  margin-right: 30px;
}
.nav-partner:last-child {
  margin-right: 0;
}
.nav-cta {
  font-weight: 500;
  border-left: 2px solid #ff6d00;
  border-right: 2px solid #ff6d00;
  padding: 0px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-cta__link {
  color: #ff6d00;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-cta__link:hover {
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
}
.nav-cta:hover {
  padding: 13px 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 2px solid #ff6d00;
  border-bottom: 2px solid #ff6d00;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-text {
  background-color: #ffffff;
  width: 218px;
  height: 100%;
}
.header-img {
  position: relative;
  width: 1010px;
  height: 572px;
}
.header-img img {
  width: 100%;
  height: 100%;
}
.header-img::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.header-title {
  font-size: 57px;
  color: #ff6d00;
  position: absolute;
  z-index: 1;
  top: 110px;
  -webkit-transform: translateY(110px);
          transform: translateY(110px);
}
.header-title span {
  color: #ffffff;
  position: absolute;
  right: -150px;
  top: 30px;
}

.slogan {
  padding: 70px 0px;
}
.slogan-text {
  text-align: center;
  position: relative;
}
.slogan-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
.slogan-title span {
  color: #ff6d00;
}
.slogan-descr {
  font-weight: 500;
  font-size: 20px;
  color: #333333;
}

.line {
  width: 100%;
  height: 80px;
  position: relative;
}
.line::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #ff6d00;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about {
  padding: 30px 0px;
  position: relative;
}
.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about-item {
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 272px;
  height: 252px;
  margin-right: 50px;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 10px;
}
.about-item:hover {
  background-color: #ff6d00;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.about-item:hover .about-link {
  background-color: #ffffff;
  color: #000000;
}
.about-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 202px;
  padding: 13px 20px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
}
.about-text {
  width: 170px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}
.about .container {
  position: relative;
}
.about-bg__text {
  font-size: 120px;
  letter-spacing: 5px;
  color: #333333;
  opacity: 0.1;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  right: -50px;
  margin-top: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.categories {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../img/bg/categories-bg.jpg");
  background-position: center;
  background-size: contain;
}
.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.categories-window {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: rgba(255, 109, 0, 0.9);
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
}
.categories-item {
  background-color: #ffffff;
  color: #000000;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  width: 378px;
  height: 396px;
  padding: 90px 20px;
  margin-right: 30px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.categories-item:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.categories-item:hover .categories-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.categories-img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.categories-img svg {
  width: 100%;
  height: 100%;
  fill: #ff6d00;
}
.categories-text {
  text-align: center;
  width: 318px;
}
.categories-name {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
.categories-descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.categories-descr span {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ff6d00;
}
.categories-link {
  background-color: #ffffff;
  color: #000000;
}
.categories-link:hover {
  text-decoration: underline;
}

.contacts {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f8f8f8;
}
.contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  height: 400px;
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
}
.contacts-map {
  width: 806px;
  height: 400px;
  border-radius: 5px;
  overflow: hidden;
}
.contacts-map iframe {
  width: 100%;
  height: 100%;
}
.contacts-addres {
  margin-bottom: 20px;
}
.contacts-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  margin-left: 0px;
  margin-bottom: 20px;
  color: #ff6d00;
  font-weight: 700;
}
.contacts-link__mail {
  font-weight: 500;
  color: #000000;
  margin-left: 7px;
}

.breadcrumbs {
  padding: 50px 0px;
}
.breadcrumbs-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.breadcrumbs-item {
  position: relative;
  margin-right: 20px;
}
.breadcrumbs-item::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/icons/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 10px;
  width: 10px;
  right: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.breadcrumbs-item:last-child {
  margin-right: 0;
}
.breadcrumbs-item:last-child::after {
  display: none;
}
.breadcrumbs-link {
  color: #000000;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.breadcrumbs-link:hover {
  color: #ff9547;
}
.breadcrumbs-active {
  color: #ff6d00;
  font-weight: 700;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-partner__link {
  margin-right: 20px;
}
.footer-partner__link:last-child {
  margin-right: 0;
}
.footer-contacts {
  font-size: 14px;
}
.footer-contacts__addres {
  font-weight: 500;
  margin-bottom: 20px;
}
.footer-contacts__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  margin-bottom: 20px;
  margin-left: 0;
  color: #ff6d00;
  font-weight: 400;
}
.footer-contacts__tel:hover {
  font-weight: 700;
}
.footer-contacts__mail {
  font-weight: 500;
  color: #ff6d00;
}
.footer-contacts__mail:hover {
  font-weight: 700;
}
.footer-title {
  font-size: 18px;
  font-weight: 500;
  color: #ff6d00;
  margin-bottom: 20px;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer-social__link:hover svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  fill: #ff6d00;
}
.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.footer-socials__item {
  margin-right: 10px;
}
.footer-socials__item:last-child {
  margin-right: 0;
}
.footer-nav__item {
  margin-bottom: 20px;
}
.footer-nav__link {
  font-weight: 500;
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-nav__link:hover {
  color: #ff6d00;
}

.inner .nav {
  -webkit-box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.08);
}

.banner {
  padding: 40px 0px;
  background-image: url("../img/slider/photo-2019.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1200px 700px;
  height: 700px;
  position: relative;
  z-index: 1;
}
.banner::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  right: 0;
  top: 0;
  height: 100%;
  width: 1200px;
  z-index: -1;
}
.banner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 200px;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 400px;
  color: #000000;
}
.banner-text:hover .banner-arrow svg {
  margin-top: 10px;
  opacity: 0.5;
  fill: #000000;
}
.banner-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-title span {
  color: #ff6d00;
}
.banner-year {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-descr {
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  width: 405px;
  margin-bottom: 20px;
}
.banner-arrow {
  width: 20px;
  height: 20px;
  margin-bottom: 20px;
}
.banner-arrow svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  fill: #000000;
}
.banner-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ff6d00;
  color: #ffffff;
  width: 200px;
}
.banner-link:hover {
  background-color: #ffffff;
  color: #000000;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
.banner-year__2018 {
  background-image: url("../img/photo-2018/photo-2018-1.jpg");
}
.banner-year__2017 {
  background-image: url("../img/photo-2017/photo-2017-1.jpg");
}

.info {
  padding: 40px 0px;
}
.info-wrapper {
  width: 1224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
.info-img {
  width: 100%;
}
.info-img img {
  width: 100%;
}
.info-text {
  padding: 90px 90px;
}
.info-title {
  font-size: 30px;
  color: #ff6d00;
  margin-bottom: 30px;
}
.info-descr {
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 40px;
  width: 808px;
}
.info-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ff6d00;
  margin-top: 40px;
}
.info-source {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.info-link {
  margin-top: 10px;
  color: #000000;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.info-link:hover {
  color: #ff6d00;
}

.brief {
  padding-top: 90px;
  padding-bottom: 40px;
  border-top: 2px solid #ff6d00;
  border-bottom: 2px solid #ff6d00;
  margin-top: 40px;
}
.brief-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.brief-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 50px;
}
.brief-number {
  font-size: 40px;
  font-weight: 700;
  color: #ff6d00;
  margin-bottom: 10px;
}
.brief-descr {
  font-size: 18px;
  font-weight: 500;
}
.brief-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.news {
  padding: 40px 0px;
}
.news-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news-item {
  width: 806px;
  background-color: #ff6d00;
  color: #ffffff;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.news-item:hover {
  background-color: #ffffff;
  color: #000000;
}
.news-item:hover .news-link {
  background-color: #ff6d00;
  color: #ffffff;
}
.news-item:hover .news-item__title::after {
  display: block;
}
.news-item:last-child {
  margin-bottom: 0;
}
.news-item__title {
  margin-bottom: 42px;
  font-size: 30px;
  font-weight: 700;
  position: relative;
}
.news-item__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 200px;
  height: 3px;
  background-color: #ff6d00;
  margin-top: 2px;
  display: none;
}
.news-item__descr {
  margin-bottom: 52px;
  width: 504px;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
}
.news-img {
  width: 806px;
  height: 470px;
}
.news-img img {
  width: 100%;
  height: 100%;
}
.news-text {
  padding: 55px 60px;
}
.news-link {
  background-color: #ffffff;
  color: #000000;
  padding: 13px 20px;
  font-size: 17px;
  display: block;
  width: 200px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.news-sidebar {
  width: 374px;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.news-follow {
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px;
}
.news-follow__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}
.news-follow__items {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.news-follow__item {
  width: 120px;
  height: 82px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}
.news-follow__item img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
  .section-title {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .page-title {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .container {
    width: 100%;
  }

  .nav {
    width: 100%;
  }
  .nav-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-text {
    font-size: 18px;
    margin-left: 10px;
  }
  .nav-cta {
    margin-top: 20px;
  }
  .nav-cta__link {
    font-size: 16px;
    padding: 5px 0px;
  }
  .nav-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .nav-socials {
    margin-right: 0;
  }

  .header {
    width: 100%;
  }
  .header-slider {
    width: 100%;
  }
  .header-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-img {
    width: 100%;
    height: 200px;
  }
  .header-img img {
    width: 100%;
    height: 100%;
  }
  .header-text {
    color: #000000;
    width: 100%;
    z-index: 2;
  }
  .header-title {
    font-size: 30px;
    top: 0;
  }
  .header-title span {
    right: -60px;
    top: 15px;
  }

  .line {
    height: 30px;
    margin: 0;
  }

  .slogan {
    width: 100%;
    padding: 20px 0px;
  }
  .slogan-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .slogan-descr {
    line-height: 20px;
    font-size: 16px;
  }

  .about {
    width: 100%;
  }
  .about-item {
    margin-right: 0;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 200px;
  }
  .about-link {
    padding: 10px 20px;
  }
  .about-bg__text {
    display: none;
  }

  .categories {
    width: 100%;
  }
  .categories-item {
    width: 100%;
    height: 350px;
    padding: 20px 20px;
    margin-right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .categories-text {
    width: 100%;
  }

  .contacts {
    width: 100%;
  }
  .contacts-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts-info {
    height: 200px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
  }
  .contacts-map {
    width: 100%;
    height: 200px;
  }

  .footer {
    width: 100%;
  }
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .footer-partner__link {
    margin-right: 0;
  }
  .footer-contacts {
    margin-bottom: 20px;
  }
  .footer-contacts__mail {
    font-size: 15px;
  }

  .breadcrumbs {
    width: 100%;
  }

  .banner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
  }
  .banner::before {
    width: 100%;
  }
  .banner-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner-text {
    width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .banner-text:hover .banner-arrow svg {
    fill: #ffffff;
  }
  .banner-title {
    font-size: 30px;
    color: #ffffff;
  }
  .banner-year {
    color: #ffffff;
    font-size: 25px;
  }
  .banner-descr {
    color: #ffffff;
    width: 300px;
    font-size: 16px;
    line-height: 20px;
  }
  .banner-arrow svg {
    fill: #ff6d00;
  }
  .banner-link {
    padding: 10px 20px;
  }

  .brief {
    width: 100%;
  }
  .brief-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brief-item {
    padding: 30px 30px;
  }
  .brief-number {
    font-size: 30px;
  }

  .info {
    width: 100%;
  }
  .info-wrapper {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info-title {
    font-size: 20px;
  }
  .info-text {
    padding: 20px 20px;
  }
  .info-descr {
    width: 100%;
    font-size: 16px;
    line-height: 25px;
  }
  .info-more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-date {
    margin-bottom: 20px;
  }

  .inner .nav {
    width: 100%;
  }
}
