.blogers-slider .owl-nav {
	display: none;
}
.blogers-slider .owl-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}
.blogers-slider .owl-dots button {
	width: 12px;
	height: 12px;
	background-color: #DDDDDD;
	border-radius: 50%;
	margin-right: 20px;
}
.blogers-slider .owl-dots button:last-child {
	margin-right: 0;
}
.blogers-slider .owl-dots button.active {
	background-color: #4945FF;
}