* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

input {
  outline: none;
}

div {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 70px 0px;
}

.container {
  max-width: 1570px;
  margin: 0 auto;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, left bottom, from(#716FFF), to(#4945FF));
  background: -o-linear-gradient(top, #716FFF 0%, #4945FF 100%);
  background: linear-gradient(180deg, #716FFF 0%, #4945FF 100%);
  color: #ffffff;
  padding: 18px 34px;
  border-radius: 40px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  border: none;
  cursor: pointer;
}

.button:hover {
  -webkit-box-shadow: 0px 4px 20px rgba(73, 69, 255, 0.3);
          box-shadow: 0px 4px 20px rgba(73, 69, 255, 0.3);
}

.button:active {
  -webkit-box-shadow: 0px 4px 20px rgba(73, 69, 255, 0);
          box-shadow: 0px 4px 20px rgba(73, 69, 255, 0);
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: #2B2A2A;
  position: relative;
  min-width: 300px;
  max-width: 650px;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 65%;
  height: 8px;
  background-color: #4945FF;
  opacity: 0.2;
  z-index: -1;
}

.description-s {
  font-size: 20px;
  font-weight: 400;
  color: #343434;
  text-align: center;
}

.visually-hidden {
  display: none;
  height: 0;
  width: 0;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .title {
    font-size: 24px;
    line-height: 1.5;
  }
  .title::after {
    height: 4px;
    bottom: 10px;
  }
  .description-s {
    font-size: 15px;
    line-height: 1.6;
  }
}

.bar {
  background-color: #EFF0F1;
  padding: 15px 0px;
}

.bar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bar-info a {
  color: #676767;
  font-size: 13px;
  font-weight: 400;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar-info a img {
  margin-right: 5px;
}

.bar-info p {
  color: #676767;
  font-size: 13px;
  font-weight: 400;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar-info p img {
  margin-right: 5px;
}

.bar-phone {
  margin-right: 100px;
}

.bar-time {
  margin-right: 100px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .bar-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .bar-info a {
    font-size: 11px;
  }
  .bar-phone {
    margin-right: 10px;
  }
  .bar-time {
    margin-right: 0px;
    font-size: 11px !important;
  }
  .bar-mail {
    display: none !important;
  }
  .bar-addres {
    font-size: 11px;
  }
}

.nav {
  border-bottom: 1px solid #DDDDDD;
  padding: 25px 0px;
}

.nav .logo {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.nav .logo:hover {
  cursor: pointer;
  opacity: 0.6;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  margin-right: 40px;
  position: relative;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  background-color: #3C39D0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.nav-item:hover::after {
  opacity: 1;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  color: #676767;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}

.nav-link:active {
  color: #3C39D0;
}

.nav-button {
  padding: 14px 28px;
}

.nav .user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 71px;
}

.nav .cart .icon {
  margin-right: 10px;
}

.nav .cart-icon {
  width: 24px;
  height: 22px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.nav .cart-icon svg {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  width: 100%;
  height: 100%;
  fill: #3C39D0;
}

.nav .cart .text .counter {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #E5E5E7;
  font-size: 12px;
  font-weight: 400;
  color: #343434;
  margin-bottom: 3px;
}

.nav .cart .text .price {
  font-size: 12px;
  color: #343434;
  font-weight: 400;
}

.nav .cart .text .price span {
  font-weight: 500;
}

.nav .cart:hover {
  cursor: pointer;
}

.nav .cart:hover .cart-icon svg {
  fill: #676767;
}

.nav .cart:active {
  cursor: pointer;
}

.nav .cart:active .cart-icon svg {
  fill: #3C39D0;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .nav {
    padding: 15px 0px;
  }
  .nav-list {
    display: none;
  }
  .nav .user-block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav .cart {
    margin-right: 0;
  }
  .nav .logo img {
    max-width: 100%;
    height: auto;
  }
  .nav-button {
    display: none;
  }
}

.offer {
  padding: 50px 0px;
}

.offer-title {
  font-size: 46px;
  font-weight: 700;
  color: #2B2A2A;
  line-height: 50px;
  margin-bottom: 20px;
}

.offer-description {
  font-size: 20px;
  font-weight: 400;
  color: #343434;
  line-height: 30px;
  width: 76%;
  margin-bottom: 40px;
}

.offer-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-text .protect-statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 50px;
}

.offer-text .protect-statistic .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 51px;
}

.offer-text .protect-statistic .item:last-child {
  margin-right: 0;
}

.offer-text .protect-statistic .item .icon {
  margin-top: 4px;
  margin-right: 20px;
}

.offer-text .protect-statistic .item .text h3 {
  font-size: 30px;
  font-weight: 600;
  color: #2B2A2A;
  margin-bottom: 15px;
}

.offer-text .protect-statistic .item .text p {
  font-size: 16px;
  font-weight: 400;
  color: #676767;
}

.offer-feature {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.offer-feature .icon {
  margin-right: 10px;
}

.offer-feature .text h3 {
  font-size: 15px;
  font-weight: 600;
  color: #2B2A2A;
  margin-bottom: 10px;
  width: 100%;
}

.offer-feature .text p {
  font-size: 14px;
  font-weight: 400;
  color: #676767;
  line-height: 22px;
}

.offer-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.offer-img img {
  max-width: 100%;
  height: auto;
}

.offer-sentence {
  margin-top: 9px;
  font-size: 14px;
  font-weight: 500;
  color: #3C39D0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-sentence svg {
  margin-left: 10px;
}

.offer-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.offer-go {
  margin-right: 60px;
}

.offer-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: #2B2A2A;
}

.offer-play .icon {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#6B68FF), to(#504CFF));
  background: -o-linear-gradient(top, #6B68FF 0%, #504CFF 100%);
  background: linear-gradient(180deg, #6B68FF 0%, #504CFF 100%);
  margin-right: 10px;
}

.offer-play .icon img {
  margin-left: 5px;
}

.offer-opt .offer-text {
  position: relative;
}

.offer-opt .offer-text::before {
  content: '';
  display: block;
  width: 220px;
  height: 232px;
  position: absolute;
  right: -150px;
  top: 60%;
  background-image: url("../img/bg/opt-offer-bg.png");
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.offer-protects .offer-title {
  position: relative;
  z-index: 1;
  font-size: 40px;
}

.offer-protects .offer-title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 79.9%;
  height: 8px;
  background-color: #4945FF;
  opacity: 0.2;
  z-index: -1;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .offer-title {
    font-size: 25px;
    line-height: 1.5;
  }
  .offer-feature {
    width: 100%;
    margin-bottom: 30px;
  }
  .offer-sentence {
    font-size: 12px;
  }
  .offer-actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer-go {
    margin-right: 0;
    width: 90%;
    margin-bottom: 20px;
  }
  .offer-img {
    margin-top: 30px;
    min-height: 243px;
    max-height: 314px;
  }
  .offer-opt .offer-text {
    position: relative;
  }
  .offer-opt .offer-text::before {
    display: none;
  }
}

.stock {
  background-color: #F7F7F8;
}

.stock .product {
  background-color: #ffffff;
}

.stock-categories {
  width: 53%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stock-categories .title {
  margin-right: 98px;
}

.stock-categories .title::after {
  width: 101%;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .stock-categories {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .stock-categories .title {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .stock-categories .title::after {
    width: 85%;
  }
}

.product {
  background-color: #F7F7F8;
  border-radius: 40px;
  padding: 1.9rem;
  position: relative;
}

.product .slider-imgs {
  margin-bottom: 20px;
  position: relative;
}

.product .new {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFD360), color-stop(99.99%, #FFCF53), color-stop(100%, rgba(196, 196, 196, 0)), to(#F3C141));
  background: -o-linear-gradient(top, #FFD360 0%, #FFCF53 99.99%, rgba(196, 196, 196, 0) 100%, #F3C141 100%);
  background: linear-gradient(180deg, #FFD360 0%, #FFCF53 99.99%, rgba(196, 196, 196, 0) 100%, #F3C141 100%);
}

.product .procents {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#F34141), color-stop(99.98%, #E93E3E), color-stop(99.99%, #FFCF53), color-stop(100%, rgba(196, 196, 196, 0)), to(#EC3F3F));
  background: -o-linear-gradient(top, #F34141 0%, #E93E3E 99.98%, #FFCF53 99.99%, rgba(196, 196, 196, 0) 100%, #EC3F3F 100%);
  background: linear-gradient(180deg, #F34141 0%, #E93E3E 99.98%, #FFCF53 99.99%, rgba(196, 196, 196, 0) 100%, #EC3F3F 100%);
}

.product-status {
  position: absolute;
  right: 0;
  bottom: 0;
}

.product-status div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  padding: 10px 12px;
  border-radius: 20px;
}

.product-name {
  font-size: 16px;
  font-weight: 500;
  color: #2B2A2A;
  margin-bottom: 10px;
}

.product .rating {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #676767;
}

.product .rating img {
  margin-right: 7px;
}

.product .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.product .prices div {
  margin-right: 10px;
}

.product .prices div:last-child {
  margin-right: 0;
}

.product .prices .price {
  font-size: 18px;
  font-weight: 700;
  color: #3C39D0;
}

.product .prices .unsale {
  font-size: 14px;
  font-weight: 500;
  color: #676767;
  position: relative;
}

.product .prices .unsale::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 10px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 65%;
  height: 2px;
  background-color: #676767;
}

.product .prices .sale {
  font-size: 15px;
  font-weight: 400;
  color: #F34141;
}

.product .amount-selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product .amount-selects .item {
  font-size: 15px;
  font-weight: 400;
  color: #2B2A2A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 11px;
  border: 2px solid #C4C4C4;
  border-radius: 10px;
  margin-right: 1rem;
  cursor: pointer;
}

.product .amount-selects .item.select {
  border-color: #3C39D0;
}

.product .amount-selects .item:last-child {
  margin-right: 0;
}

.product-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.product-buy {
  padding: 18px 26px;
  margin-right: 1rem;
}

.product-buy img {
  margin-left: 5px;
}

.product-click {
  font-size: 14px;
  font-weight: 500;
  color: #3C39D0;
  padding-bottom: 12px;
  border-bottom: 2px solid #3C39D0;
}

.product-all {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  color: #3C39D0;
  padding-bottom: 12px;
  border-bottom: 2px solid #3C39D0;
}

.product-full {
  margin-top: 50px;
}

.product .slider-imgs .slide img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .product {
    padding: 20px;
    margin-bottom: 20px;
  }
  .product .amount-selects {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product .amount-selects .item {
    font-size: 12px;
    padding: 10px;
    margin-right: 10px;
  }
  .product-actions {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product-actions .product-buy {
    padding: 16px 18px;
    margin-right: 10px;
    font-size: 13px;
  }
  .product-actions .product-click {
    font-size: 13px;
  }
  .product-full {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1562px) {
  .product {
    padding: 20px;
    margin-bottom: 20px;
  }
  .product .amount-selects {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product .amount-selects .item {
    padding: 10px;
    margin-right: 10px;
  }
  .product-actions {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product-actions .product-buy {
    padding: 16px 18px;
    margin-right: 10px;
  }
  .product-full {
    margin-top: 30px;
  }
}

.blogers {
  margin-bottom: 50px;
}

.blogers .title {
  text-align: center;
  max-width: unset;
  margin-bottom: 15px;
}

.blogers .title::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 38%;
}

.blogers .description-s {
  margin-bottom: 50px;
}

.blogers-slider {
  position: relative;
}

.blogers-slider .slide {
  border-radius: 30px;
  background-color: #C4C4C4;
  height: 243px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

.blogers-slider .slide-preview .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#6B68FF), to(#504CFF));
  background: -o-linear-gradient(top, #6B68FF 0%, #504CFF 100%);
  background: linear-gradient(180deg, #6B68FF 0%, #504CFF 100%);
  margin-right: 10px;
  cursor: pointer;
}

.blogers-slider .slide-preview .play-btn img {
  margin-left: 2px;
  width: 20px;
  height: 15px;
}

.blogers .slider-wrap {
  position: relative;
}

.blogers .slider-nav button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.blogers .slider-nav button svg {
  width: 14px;
  height: 23px;
  fill: #9C9B9B;
}

.blogers .slider-prev {
  left: -30px;
}

.blogers .slider-next {
  right: -30px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .blogers {
    padding: 40px 0px;
  }
  .blogers .title {
    text-align: left;
  }
  .blogers .title::after {
    width: 85%;
  }
  .blogers .slide {
    height: unset;
    min-height: 243px;
    max-height: 314px;
  }
  .blogers .slider-prev {
    left: -10px;
  }
  .blogers .slider-next {
    right: -10px;
  }
}

.features {
  background-color: #F7F7F8;
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.features-item:nth-child(even) .features-info {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.features-info {
  width: 50%;
}

.features-info .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}

.features-info .item .icon {
  margin-right: 10px;
}

.features-info .item .text h3 {
  font-size: 18px;
  font-weight: 500;
  color: #343434;
  margin-bottom: 15px;
}

.features-info .item .text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #676767;
}

.features-info .item:last-child {
  margin-bottom: 0;
}

.features-video {
  width: 43.6%;
  position: relative;
  background-color: #C4C4C4;
  height: 350px;
  border-radius: 40px;
}

.features-video .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#6B68FF), to(#504CFF));
  background: -o-linear-gradient(top, #6B68FF 0%, #504CFF 100%);
  background: linear-gradient(180deg, #6B68FF 0%, #504CFF 100%);
  margin-right: 10px;
  cursor: pointer;
}

.features-video .play-btn img {
  margin-left: 2px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .features-item:nth-child(even) .features-info {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  .features-info {
    width: 100%;
    margin-bottom: 20px;
  }
  .features-video {
    width: 100%;
    height: unset;
    min-height: 272px;
    max-height: 417px;
  }
}

.opt-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.opt-text {
  width: 50%;
}

.opt-text h2.title {
  margin-bottom: 13px;
}

.opt-text h2.title::after {
  width: 78%;
}

.opt-text span {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #2B2A2A;
  margin-bottom: 30px;
}

.opt-text p {
  font-size: 14px;
  line-height: 24px;
  color: #676767;
  margin-bottom: 50px;
}

.opt-text p a {
  color: #3C39D0;
  font-weight: 500;
}

.opt-img {
  width: 43.6%;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .opt {
    padding: 40px 0px;
  }
  .opt-text {
    width: 90%;
    margin-bottom: 20px;
  }
  .opt-img {
    width: 100%;
    min-height: 162px;
    max-height: 314px;
  }
  .opt-img img {
    max-width: 100%;
    height: auto;
  }
}

.thanks {
  background-color: #F7F7F8;
}

.thanks .title {
  text-align: center;
  max-width: unset;
  margin-bottom: 15px;
}

.thanks .title::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 39%;
}

.thanks .description-s {
  margin-bottom: 50px;
}

.thanks-slider .slide {
  margin-right: 20px;
  margin-left: 20px;
}

.thanks .slider-wrap {
  position: relative;
}

.thanks .slider-nav button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.thanks .slider-nav button svg {
  width: 14px;
  height: 23px;
  fill: #9C9B9B;
}

.thanks .thslider-prev {
  left: -30px;
}

.thanks .thslider-next {
  right: -30px;
}

.thanks-img img {
  max-width: 100%;
  height: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .thanks {
    padding: 40px 0px;
  }
  .thanks .slide {
    height: unset;
    min-height: 243px;
    max-height: 314px;
  }
  .thanks .thslider-prev {
    left: -10px;
  }
  .thanks .thslider-next {
    right: -10px;
  }
}

.delivery .title {
  text-align: center;
  max-width: 562px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.delivery .title::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
}

.delivery .description-s {
  margin-bottom: 50px;
}

.delivery-list {
  overflow: hidden;
  height: 300px;
  margin-bottom: 50px;
}

.delivery-list .list-wrp {
  height: 100%;
}

.delivery-list .item {
  height: 100%;
}

.delivery-item {
  height: 100%;
  padding-bottom: 30px;
}

.delivery-item .num {
  font-size: 18px;
  font-weight: 600;
  color: #3C39D0;
  margin-bottom: 10px;
}

.delivery-item .text {
  height: 100%;
  background-color: #F7F7F8;
  padding: 30px;
  border-radius: 0px 40px 0px 40px;
  position: relative;
}

.delivery-item .text::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 40%;
  left: -30px;
  height: 2px;
  width: 30px;
  background-color: #3C39D0;
}

.delivery-item .text h3 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 20px;
}

.delivery-item .text p {
  font-size: 14px;
  font-weight: 400;
  color: #676767;
  line-height: 22px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .delivery-list {
    overflow: unset;
    height: unset;
  }
  .delivery-item .text::before {
    display: none;
  }
}

.footer {
  padding: 50px 0px;
  background-color: #EBEBED;
}

.footer-title {
  font-size: 16px;
  font-weight: 600;
  color: #2B2A2A;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.footer-title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 21%;
  height: 8px;
  background-color: #4945FF;
  opacity: 0.2;
  z-index: -1;
}

.footer .contacts .item {
  margin-bottom: 20px;
}

.footer .contacts .item h5 {
  font-size: 15px;
  font-weight: 500;
  color: #2B2A2A;
  margin-bottom: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contacts .item h5 img {
  margin-right: 5px;
}

.footer .contacts .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 21px;
  color: #676767;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.footer .contacts .payments {
  margin-top: 10px;
}

.footer .about .footer-title::after {
  width: 13.3%;
}

.footer .about .text-block {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: #2B2A2A;
  margin-bottom: 30px;
}

.footer .about .boss h5 {
  font-size: 15px;
  font-weight: 500;
  color: #2B2A2A;
  margin-bottom: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .about .boss h5 img {
  margin-right: 5px;
}

.footer .about .boss p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #676767;
  padding-left: 21px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .footer .contacts {
    margin-bottom: 40px;
  }
  .footer .about {
    margin-bottom: 40px;
  }
  .footer-certificate {
    min-width: 80px;
    max-width: 100px;
    min-height: 130px;
    max-height: 150px;
  }
  .footer-certificate img {
    max-width: 100%;
    height: auto;
  }
}

.category-item {
  padding: 13px 26px;
  font-size: 14px;
  font-weight: 500;
  color: #676767;
  border: 2px solid #E5E5E7;
  background-color: #E5E5E7;
  border-radius: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 33px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.category-item:first-child {
  margin-left: auto;
}

.category-item:last-child {
  margin-right: 0;
}

.category-item.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#6D6AFF), to(#4D49FF));
  background: -o-linear-gradient(top, #6D6AFF 0%, #4D49FF 100%);
  background: linear-gradient(180deg, #6D6AFF 0%, #4D49FF 100%);
  color: #ffffff;
  border-color: transparent;
  position: relative;
}

.category-item.active::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -20px;
  background-image: url("../img/icons/figure.svg");
  background-repeat: no-repeat;
}

.category-item:hover {
  border-color: #3C39D0;
  background-color: transparent;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .category-item {
    font-size: 12px;
    padding: 12px 20px;
    margin-right: 15px;
    width: 44%;
    margin-bottom: 20px;
  }
}

.compliance {
  background-color: #F7F7F8;
}

.compliance .title {
  max-width: 700px !important;
  text-align: center;
  max-width: unset;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.compliance .title::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 94%;
}

.compliance .description-s {
  margin-bottom: 50px;
  max-width: 700px !important;
  margin-left: auto;
  margin-right: auto;
}

.compliance-items {
  height: 242px;
}

.compliance-items .list-wrp {
  height: 100%;
}

.compliance-items .item {
  height: 100%;
}

.compliance-item {
  border-radius: 40px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  padding: 30px 40px;
  height: 100%;
}

.compliance-item .icon {
  height: 71px;
  margin-bottom: 19px;
}

.compliance-item .text {
  text-align: center;
}

.compliance-item .text h3 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 15px;
}

.compliance-item .text p {
  font-size: 14px;
  font-weight: 400;
  color: #676767;
  line-height: 22px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .compliance .title {
    text-align: left;
    min-width: unset !important;
    max-width: unset !important;
  }
  .compliance-items {
    overflow: unset;
    height: unset;
  }
  .compliance-item {
    margin-bottom: 30px;
  }
  .compliance-item .text::before {
    display: none;
  }
}

.lead .title {
  max-width: 700px !important;
  text-align: center;
  max-width: unset;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.lead .title::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 58%;
}

.lead .description-s {
  margin-bottom: 50px;
  max-width: 800px !important;
  margin-left: auto;
  margin-right: auto;
}

.lead-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.lead-form::before {
  content: '';
  display: block;
  width: 220px;
  height: 232px;
  position: absolute;
  right: -250px;
  top: 40%;
  background-image: url("../img/bg/lead-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.lead-input {
  width: 100%;
  border: none;
  background-color: #F7F7F8;
  margin-bottom: 30px;
  padding: 19px 48px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400;
  color: #676767;
}

.lead-input::-webkit-input-placeholder {
  color: #676767;
}

.lead-input::-moz-placeholder {
  color: #676767;
}

.lead-input:-ms-input-placeholder {
  color: #676767;
}

.lead-input::-ms-input-placeholder {
  color: #676767;
}

.lead-input::placeholder {
  color: #676767;
}

.lead label {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.lead label img {
  position: absolute;
  left: 20px;
  top: 33%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.lead-textbox {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-left: 48px;
  padding-top: 49px;
  padding-right: 48px;
  resize: none;
  outline: none;
}

.lead-textbox:focus .lead-textbox__wrap p {
  display: none !important;
}

.lead-textbox__wrap {
  width: 100%;
  height: 119px;
  background-color: #F7F7F8;
  position: relative;
  border-radius: 30px;
}

.lead-textbox__wrap p {
  position: absolute;
  top: 19px;
  left: 48px;
}

.lead-textbox__wrap p img {
  position: absolute;
  left: -28px;
}

.lead-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .lead-form::before {
    display: none;
  }
  .lead-form label {
    width: 100%;
  }
  .lead-input {
    width: 100%;
  }
}

.optsale-categories {
  width: 53%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.optsale-categories .title {
  max-width: 420px;
  margin-right: 98px;
  margin-bottom: 20px;
}

.optsale-categories .title::after {
  width: 67%;
}

.optsale-categories .category-item {
  margin-bottom: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .optsale-categories {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .optsale-categories .title {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .optsale-categories .title::after {
    width: 85%;
  }
}

.catalog {
  padding-top: 40px;
}

.catalog-line {
  background-color: #E7E6FF;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 23px;
}

.catalog-line h2 {
  font-size: 18px;
  font-weight: 500;
  color: #2B2A2A;
  text-transform: uppercase;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.catalog-filters {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-select {
  margin-right: 30px;
  padding: 13px 30px;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
  width: 31.8%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../img/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-size: 3%;
  background-position: right 10px center;
}

.catalog-params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-params__link {
  margin-right: 30px;
  padding: 13px 26px;
  font-size: 14px;
  font-weight: 500;
  color: #676767;
  border: 2px solid #E5E5E7;
  background-color: #E5E5E7;
  border-radius: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.catalog-params__link:last-child {
  margin-right: 0;
}

.catalog .product {
  width: 31.8%;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .catalog-line {
    padding: 25px;
  }
  .catalog-line h2 {
    font-size: 16px;
  }
  .catalog-params {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .catalog-params__link {
    padding: 12px 23px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .catalog-select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .catalog .product {
    width: 100%;
  }
}

.sidebar {
  background-color: #F7F7F8;
  padding: 0px 30px;
  border-radius: 30px;
}

.sidebar-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 29px 0px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  color: #676767;
  position: relative;
  border-top: 1px solid #C4C4C4;
}

.sidebar-link::after {
  content: '';
  display: block;
  width: 15px;
  height: 23px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
          transform: translatey(-50%);
  background-image: url("../img/icons/sidebar-arrow.svg");
  background-repeat: no-repeat;
}

.sidebar-link.active {
  color: #3C39D0;
}

.sidebar-link.active::after {
  display: none;
}

.sidebar-item:first-child .sidebar-link {
  border: none;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .sidebar {
    padding: 0px 20px;
    margin-bottom: 50px;
  }
  .sidebar-link {
    padding: 20px 0px;
    font-size: 15px;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-item {
  margin-right: 20px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item:last-child .pagination-link {
  font-weight: 400;
  padding: 16px 44px;
}

.pagination-link {
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 600;
  color: #9C9B9B;
  border: 2px solid #C4C4C4;
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.pagination-link.active {
  border-color: #3C39D0;
  background-color: #3C39D0;
  color: #ffffff;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .pagination {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .pagination-item {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .pagination-item:last-child {
    margin-right: 0;
  }
  .pagination-item:last-child .pagination-link {
    width: 100%;
    padding: 13px 17px;
  }
  .pagination-link {
    padding: 13px 17px;
    font-size: 15px;
  }
}

.termsdelivery {
  padding: 50px 0px;
}

.termsdelivery .title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  margin-bottom: 50px;
}

.termsdelivery .title::after {
  width: 84%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.termsdelivery-list {
  overflow: hidden;
  height: 300px;
  margin-bottom: 50px;
}

.termsdelivery-list .list-wrp {
  height: 100%;
}

.termsdelivery-list .item {
  height: 100%;
}

.termsdelivery-item {
  height: 100%;
  padding-bottom: 30px;
}

.termsdelivery-item .num {
  font-size: 18px;
  font-weight: 600;
  color: #3C39D0;
  margin-bottom: 10px;
}

.termsdelivery-item .text {
  height: 100%;
  background-color: #F7F7F8;
  padding: 20px;
  border-radius: 40px 0px 40px 0px;
  position: relative;
}

.termsdelivery-item .text::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 40%;
  left: -30px;
  height: 2px;
  width: 30px;
  background-color: #3C39D0;
}

.termsdelivery-item .text h3 {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.termsdelivery-item .text p {
  font-size: 14px;
  font-weight: 400;
  color: #676767;
  line-height: 22px;
  padding-left: 53px;
  margin-bottom: 15px;
  position: relative;
}

.termsdelivery-item .text p::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  left: 40px;
  top: 7px;
  background-color: #3C39D0;
  border-radius: 50%;
}

.termsdelivery-item .text p:last-child {
  margin-bottom: 0;
}

.termsdelivery-item .text .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.termsdelivery-item .text .head .icon {
  margin-right: 10px;
}

.termsdelivery .one .text::before {
  display: none !important;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .termsdelivery-list {
    overflow: unset;
    height: unset;
  }
  .termsdelivery-item .text::before {
    display: none;
  }
}

.map {
  background-image: url("../img/bg/map-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.map-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.map-input {
  width: 100%;
  border: none;
  background-color: #F7F7F8;
  margin-bottom: 30px;
  padding: 19px 48px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 400;
  color: #676767;
}

.map-input::-webkit-input-placeholder {
  color: #676767;
}

.map-input::-moz-placeholder {
  color: #676767;
}

.map-input:-ms-input-placeholder {
  color: #676767;
}

.map-input::-ms-input-placeholder {
  color: #676767;
}

.map-input::placeholder {
  color: #676767;
}

.map label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.map label img {
  position: absolute;
  left: 20px;
  top: 33%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.map-text {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(73, 69, 255, 0.2);
          box-shadow: 0px 4px 20px rgba(73, 69, 255, 0.2);
  border-radius: 40px 0px;
  padding: 30px;
}

.map-text .title {
  max-width: 100%;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 9px;
  line-height: 1;
}

.map-text .title::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  bottom: 0;
}

.map-text .description-s {
  font-size: 16px;
  font-weight: 400;
  color: #2B2A2A;
  margin-bottom: 25px;
}

.map-button {
  margin-left: auto;
  margin-right: auto;
  padding: 17px 34px;
}

.map .block-wrp {
  margin-left: 12.6%;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .map-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .map-text {
    padding: 20px;
  }
  .map-text .title {
    min-width: unset;
  }
  .map .block-wrp {
    margin-left: unset;
  }
}
