* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Gotham Pro';
  color: #222222;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

input {
  outline: none;
}

div {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
  padding: 40px 0px;
}

.container {
  width: 1749px;
  margin: 0 auto;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.visually-hidden {
  display: none;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Light.woff2") format("woff2"), url("../fonts/GothamPro/GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Medium.woff2") format("woff2"), url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 90px;
}

.up {
  background-color: #87bffe;
  text-decoration: none;
  color: #ffffff;
  padding: 12px 30px;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 50px;
  display: block;
  position: absolute;
  right: 86px;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.up:hover, .up:focus {
  opacity: 0.5;
}

.button {
  font-size: 20px;
  font-weight: 400;
  padding: 23px 46px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #f8cb2d;
  cursor: pointer;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.button-o {
  font-size: 20px;
  font-weight: 400;
  padding: 23px 46px;
  border-radius: 50px;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 2px solid #ffffff;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.button-g {
  font-size: 20px;
  font-weight: 400;
  padding: 25px 64px;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: -webkit-gradient(linear, left top, right top, from(#ffa300), to(#fcc01e));
  background: -o-linear-gradient(left, #ffa300 0%, #fcc01e 100%);
  background: linear-gradient(to right, #ffa300 0%, #fcc01e 100%);
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.button-g:hover, .button-g:focus {
  -webkit-box-shadow: 0px 0px 50px 0px rgba(255, 163, 0, 0.3);
          box-shadow: 0px 0px 50px 0px rgba(255, 163, 0, 0.3);
}

.nav {
  padding-top: 27px;
  margin-bottom: 190px;
}

.nav-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 288px;
}

.nav-item {
  margin-right: 75px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  position: relative;
}

.nav-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  margin-top: 7px;
  height: 0;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.nav-link:hover::after, .nav-link:focus::after {
  height: 4px;
}

.nav-link_active {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  position: relative;
}

.nav-link_active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  margin-top: 7px;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.header {
  padding-bottom: 450px;
  background-image: url("../img/bg/header-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  position: relative;
}

.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  width: 926px;
  margin-bottom: 36px;
}

.header-subtitle {
  width: 604px;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 48px;
}

.header-game {
  background-color: #ffffff;
  color: #f8cb2d;
  margin-right: 79px;
}

.header-game:hover, .header-game:focus {
  -webkit-box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.4);
}

.header-coordinats:hover, .header-coordinats:focus {
  background-color: #ffffff;
  color: #f8cb2d;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.4);
}

.header-preview {
  width: 621px;
  height: 365px;
  background-image: url("../img/bg/video-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 10px solid #ffffff;
  position: relative;
}

.header-play {
  width: 150px;
  height: 150px;
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.header-play svg {
  width: 100%;
  height: 100%;
  fill: #ffffff;
}

.header-play:hover, .header-play:focus {
  width: 160px;
  height: 160px;
}

.header-tv {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
}

.header-video {
  width: 1100px;
  height: 700px;
  position: relative;
}

.header-video iframe {
  width: 100%;
  height: 100%;
}

.header-close {
  width: 80px;
  height: 80px;
  background-color: #f8cb2d;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  right: 200px;
  cursor: pointer;
}

.header-close svg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  fill: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.header-close:hover svg, .header-close:focus svg {
  fill: #222222;
}

.header-cta {
  position: relative;
}

.header-cta__info {
  text-align: center;
  position: absolute;
  right: 35.8%;
  bottom: -40px;
}

.communities-list {
  width: 960px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.communities-item {
  width: 380px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.communities-link {
  display: block;
  width: 250px;
  height: 250px;
  background: -webkit-gradient(linear, left top, right top, from(#ffa300), to(#fcc01e));
  background: -o-linear-gradient(left, #ffa300 0%, #fcc01e 100%);
  background: linear-gradient(to right, #ffa300 0%, #fcc01e 100%);
  border-radius: 50%;
  position: relative;
  margin-bottom: 23px;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.communities-link svg {
  width: 150px;
  height: 150px;
  position: absolute;
  fill: #ffffff;
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.communities-link:hover, .communities-link:focus {
  -webkit-box-shadow: 0px 0px 50px 0px rgba(255, 163, 0, 0.3);
          box-shadow: 0px 0px 50px 0px rgba(255, 163, 0, 0.3);
}

.communities-link:hover svg, .communities-link:focus svg {
  fill: #222222;
}

.communities-name {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 19px;
}

.communities-descr {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 27px;
  color: #bbbbbb;
}

.footer {
  padding: 90px 0px;
  background-image: url("../img/bg/bg.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 60%;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-copyright {
  width: 310px;
  font-weight: 300;
  color: #bbbbbb;
  font-size: 20px;
  line-height: 30px;
  margin-left: 30px;
}

.inner-page .nav {
  padding: 0;
  margin: 0;
  margin-bottom: 290px;
}

.inner-page .nav-wrapper {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.inner-page .nav-list {
  margin-left: 200px;
}

.inner-page .nav-link {
  color: #ffffff;
}

.inner-page .nav-link_active {
  color: #ffffff;
}

.inner-page .nav-link_active::after {
  background-color: #ffffff;
}

.inner-page .nav-link::after {
  background-color: #ffffff;
}

.inner-page .header {
  padding-top: 20px;
  padding-bottom: 30px;
  background-image: url("../img/bg/bg-1.svg") !important;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100%;
  color: #ffffff;
  position: relative;
  padding-bottom: 0;
  height: 700px;
}

.inner-page .header-offer {
  width: 1000px;
}

.inner-page .header-title {
  font-size: 50px;
  color: #222222;
  text-transform: uppercase;
  width: 1420px;
  margin-bottom: 20px;
}

.inner-page .header-descr {
  color: #222222;
  width: 759px;
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 15px;
}

.inner-page .header-warning {
  color: #2487ab;
  font-size: 18px;
  font-weight: 300;
}

.inner-page .footer {
  background-image: url("../img/bg/bg-2.svg") !important;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}

.donat-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.donat-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.donat-instruction {
  font-size: 18px;
  font-weight: 300;
  color: #da1313;
  padding-bottom: 3px;
  border-bottom: 1px solid #da1313;
}

.donat-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.donat-input {
  padding: 23px 25px;
  border: 2px solid #f8cb2d;
  border-radius: 50px;
  margin-bottom: 32px;
  width: 488px;
}

.donat-button {
  padding: 25px 30px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  border-radius: 50px;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#18df47), to(#45f880));
  background: -o-linear-gradient(left, #18df47 0%, #45f880 100%);
  background: linear-gradient(90deg, #18df47 0%, #45f880 100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  cursor: pointer;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.donat-button svg {
  width: 30px;
  height: 30px;
  fill: #ffffff;
  margin-left: 12px;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.donat-button:hover svg, .donat-button:focus svg {
  margin-left: 17px;
}

.donat-label {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.donat-label img {
  width: 35px;
  height: 35px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: 20px;
}

.donat-question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.donat-question img {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.donat-why {
  font-size: 20px;
  font-weight: 500;
  text-transform: none;
}

.donat-oferta {
  font-size: 15px;
  font-weight: 300;
  color: #bbbbbb;
  border-bottom: 2px solid #bbbbbb;
  padding-bottom: 3px;
  margin-top: 20px;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.start-page .header {
  height: 400px;
}

.start-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 47px;
}

.start-descr {
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
  width: 853px;
  margin-bottom: 88px;
}

.start-step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}

.start-step__count {
  display: block;
  font-weight: 700;
  font-size: 20px;
  vertical-align: middle;
  color: #f8cb2d;
}

.start-step__title {
  font-weight: 700;
  font-size: 25px;
  margin-left: 15px;
}

.start-info {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #222222;
  width: 363px;
  text-align: center;
}

.start-download {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-download svg {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  fill: #ffffff;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.start-download:hover svg, .start-download:focus svg {
  margin-left: 13px;
}
